@using Webshop.view.ViewModels
@model Umbraco.Web.Models.RenderModel

@{

    Layout = "../umbLayout.cshtml";
    var viewmodel = new ProductGroupViewmodel(Model.Content);
    ViewBag.Title = viewmodel.Name;
}

<h2>@viewmodel.Name</h2>

@{
    foreach (var product in viewmodel.Products)
    {
        <div>
            <div>@product.Name</div>
            <div>@product.Price</div>
        </div>
 
    }
}

